<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center" style="color:blueviolet">Passing Data to component to another component</h2>
      
      <app-cockpit (serverAdded)="onServerAdded($event)"></app-cockpit>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center"> created servers list</h4>
      <app-server-element 
      *ngFor="let server of servers" 
      [serversElement]="server"
      ></app-server-element>
    
    </div>
  </div>
</div>